{% extends 'base.html' %}

{% block title %}Enregistrer un bot/une équipe{% endblock %}

{% block content %}
	<h1>Enregistrer ...</h1>

	<h2>... une équipe</h2>
	<div id="form_team" style="text-align:center">
		<form method="post" action="{% url 'register_team' %}">
			{% csrf_token %}
			{{ team_form.as_p }}
			<br/>
			<input type="submit" value="Enregistrer une équipe"/>
		</form>
	</div>

	<h2>... un bot</h2>
	<div id="form_bot" style="text-align:center">
		<form method="post" action="{% url 'register_bot' %}">
			{% csrf_token %}
			{{ bot_form.as_p }}
			<br/>
			<input type="submit" value="Enregistrer un bot"/>
		</form>
	</div>
{% endblock %}

