{% extends 'register.html' %}


{% block content %}
<div>
	<h2>Enregistrer {% ifequal type 'bot' %} un bot{% else %} une équipe{% endifequal %}</h2>

	<p class="error">
		{% ifequal message 'invalid form' %}Apparement, vous avez fait une erreur dans le formulaire !
		{% else %}{% ifequal message 'unknown token' %}Ce mot de passe n'existe pas...{% endifequal %}
		{% endifequal %}
	</p>

	{% ifequal type 'bot' %}
	<form action="{% url 'register_bot' %}" method="post">
	{% else %}
	<form action="{% url 'register_team' %}" method="post">
	{% endifequal %}
		{% csrf_token %}

		{{form}}
		<input type="submit" value="Envoyer"/>
	</form>
</div>
{% endblock %}

