{% extends 'register.html' %}


{% block content %}
<div>
	{% ifequal type 'bot' %}<h2>Bot enregistré !</h2>{% else %}<h2>Equipe enregistrée</h2>{% endifequal %}

	<div id="registration_result">
	{% ifequal type 'bot' %}
		<p><span class="bold">Token :</span> {{bot_token}}</p>
		<p><span class="bold">Secret Key :</span>{{bot_secret}}</p>
	{% else %}
		<p><span class="bold">Secret Key :</span>{{team_secret}}</p>
	{% endifequal %}
	</div>
</div>
{% endblock %}
